@import "../../variables.module.scss";

.nav {
  // min-width: 15%;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  opacity: 1;
  height: 28%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s;

  @media only screen and (min-width: 400px) {
      padding-top: 60px;
      height: 25%;
      }
}

.navHidden {
  // visibility: hidden;
  height: 0px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: $base-spacing * 8;
  gap: $base-spacing * 3;
}

